# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Logs and Data
*.csv
!trades_log_template.csv
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE
.DS_Store
.vscode/
.idea/
Thumbs.db
